<article style="background:  #272125; height:500px">
<div class="formClass pdT100">
	<div class="formClass">
		<div class="pdT15">
			<p style="display:inline">
				<input id="uploadFile" class="upload" ng-model="fileName" placeholder="Pick File --->" disabled="disabled" />
			</p>
			<button class="fileUpload btn btn-danger">
				<span >Pick File</span>
				<input ng-click="file()" ngf-select ng-model="file" id="uploadBtn" type="file" class="upload" />
			</button>
			<button class="btn btn-primary clearB" ng-click="upload(file)">Upload!</button>
		</div>		
	</div>
</div>
