<div id="{{grid.id}}" class="container">
	<div class="gridHeading">
		{{grid.heading}}
	</div>
	<table class="table">
		<thead>
			<tr>
				<th ng-repeat="header in grid.headers">{{header}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in body">
				<td>{{row.key}}</td>
				<td>{{row.value}}</td>
			</tr>
			<tr ng-if="grid.formBelow">
				<td><input type="text" ng-model="param1"></td>
				<td><input type="text" ng-model="param2"></td>
				<td><button ng-click="grid.fire(param1, param2);">{{grid.fireName}}</button>
			</tr>
		</tbody>
	</table>
</div>