<html>
<head>
</head>
<body >

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Athena Plugin</a>
        </div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="filters" style="margin-top: 60px" layout="row" layout-align="center center">
      <md-input-container>
            <label>Enter Search Term</label>
            <input type="text" ng-model="name">
            <md-button class="md-raised md-primary pull-right" style="margin-top:-40px" ng-click="searchResult(name);">ok</md-button>
      </md-input-container>
    </div>
    <div class="row" ng-show="pluginData"  style="margin-left:600px">
    		<ul ng-repeat="plugin in pluginData">
    			<li><a ng-click="routeToView(plugin);">{{plugin.pluginName}}</a></li>
    		</ul>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="container" id="login">
        <div  class="row" style="margin-top: 100px">
          <div layout="column" class="mrTM30" layout-align="center center" layout-fill>
            <div class="loginBox md-whiteframe-z1"  layout="column">
                  <md-toolbar>     
                      <h2 class="md-toolbar-tools">
                          <span>Login</span>
                      </h2>
                  </md-toolbar>
                  <md-content class="md-padding" layout="column">
                      <md-input-container>
                        <label> Username </label>
                        <input type="text" ng-model="login.username">
                      </md-input-container>
                      <md-input-container>
                        <label> Password </label>
                        <input type="password" ng-model="login.password" ng-keypress="watchKeys($event)">
                      </md-input-container>
                      <div class="pdT20" claslayout="row" layout-align="center center">
                        <md-button class="md-raised md-primary" ng-click="submitLogin()">Submit
                        </md-button>
                      </div>
                  </md-content>
            </div>
          </div>
        </div>
      </div>

    <footer class="fixedBottom">
      	 <div class="container">
        </div>
    </footer>

</body>
</html>
