@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://fonts.googleapis.com/css?family=Roboto);

/* zocial */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}


h2 {
  color:rgba(255,255,255,.8);
  margin-left:12px;
}

loginForm.bg {
  background: #272125;
  font-family: 'Roboto', sans-serif;
  
}

.formClass {
  position:relative;
  margin: 15px auto;
  width: 380px;
  height: auto;
  background:  #272125;
}

.input {
  padding: 16px;
  border-radius:7px;
  border:0px;
  background: rgba(255,255,255,.2);
  display: block;
  margin: 15px !important;
  width: 300px;  
  font-size:14px;
  height: 54px;
}

.input:focus {
  outline-color: rgba(0,0,0,0);
  background: rgba(255,255,255,.95);
  color: #e74c3c;
}

.button {
  float:right;
  height: 121px;
  width: 50px;
  border: 0px;
  margin-top: 6px;
  background: #e74c3c;
  border-radius:7px;
  padding: 10px;
  color:white !important;
  font-size:22px !important;
}
.uploadbutton {
    height: 53px;
    width: auto;
    border: 0px;
    background: #e74c3c;
    border-radius: 7px;
    padding: 10px;
    color: white !important;
    font-size: 19px !important;
}

.submitbutton {
   height: 53px;
    width: auto;
    border: 0px;
    background: #e74c3c;
    border-radius: 7px;
    padding: 10px;
    color: white !important;
    font-size: 19px !important;
}

.inputUserIcon {
  position:absolute;
  top:185px;
  right: 80px;
  color:white;
}

.inputPassIcon {
  position:absolute;
  top:256px;
  right: 80px;
  color:white;
}

.input::-webkit-input-placeholder {
  color: white;
}

.input:focus::-webkit-input-placeholder {
  color: #e74c3c;
}
.pdT15{
  padding-top:15px;
}
.pdT25{
  padding-top:25px;
}
.pdT100{
  padding-top:100px;
}
.pdB10 {
  padding-bottom: 10px;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin-left: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.upload {
    
    line-height: 28px;
    background-color: gray;
    font-family: inherit;
    font-size: small;
}



/** shatttttttttttttttttttttta **/

.loginBox {
  max-width:  90%;
  width: 500px
}

.stretch input  {
  width: 100%
}

.jumbotron {
    text-align: center;
}

.jumbotron .btn-lg {
    font-size: 20px;
}

.jumbotron h1 , ul.nav {
    font-family: 'Arvo' , courier , sans-serif;
}

#home .md-toolbar-tools {
    background-color: black;
}

.jumbotron h1  {
    margin-top:30px;
    margin-bottom:30px;
}

footer {
    background-color: #f74c3c;
    padding-top: 10px;
    padding-bottom: 10px;
}

#login .md-toolbar-tools {
    background-color: black;
}

.md-raised.md-primary.md-button.md-ink-ripple,.btn.btn-danger.btn-lg{
    background-color: #f74c3c;
}

.pdT20 {
    padding-top: 20px;
}

.mrTM30 {
   margin-top: -30px;
}

.fixedBottom {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1030;
}